@page "/createaccount/{CustomerId:int}"
@inherits CreateAccountBase


<h1>Konto Hantering</h1>


<AuthorizeView Roles="admin" Context="authContext">
    <Authorized>
        <EditForm Model="@Customer" OnValidSubmit="HandleValidSubmit">      
        <div class="form-group row">
            <div class="form-text">
                Välj kontotyp att skapa upp åt en kund

                <div class="col-sm-10">

                    <InputSelect id="accounttype" @bind-Value="SelectedAccountType">
                        @foreach (var account in AccountTypes)
                        {
                            <option value="@account.AccountTypeId"> @account.TypeName</option>

                        }

                    </InputSelect>
                    <button type="submit" class="btn btn-primary">Spara</button>
                </div>
            </div>
         </div>   
        </EditForm>
    </Authorized>

</AuthorizeView>
